<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.FinishWorkMapper">
    <resultMap id="baseResult" type="entity.FinishHomeWork">
        <id column="id" property="id"></id>
        <result column="pub_work_id" property="PubWorkId"></result>
        <result column="finisher" property="finisher"></result>
        <result column="finish_dt" property="finishDt"></result>
        <result column="title" property="title"></result>
        <result column="course" property="course"></result>
        <result column="content" property="content"></result>
        <result column="level" property="level"></result>
        <result column="is_join" property="isJoin"></result>
        <collection property="url" column="id" select="com.server.mapper.AttachMapper.selectAttachByBusiId">
        </collection>
    </resultMap>

    <select id="getFinishHomeWorkById" resultMap="baseResult">
        select * from finish_home_work where id = #{id}
    </select>
    <select id="getFinishHomeWorkByBusiId" resultMap="baseResult">
        select * from finish_home_work where status=1 and pub_work_id = #{id}
    </select>

</mapper>

