<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.HomeWorkMapper">
    <resultMap id="baseResult" type="entity.HomeWork">
        <id column="id" property="id"></id>
        <result column="status" property="status"></result>
        <result column="publisher" property="publisher"></result>
        <result column="create_dt" property="createDt"></result>
        <result column="end_dt" property="endDt"></result>
        <result column="title" property="title"></result>
        <result column="course" property="course"></result>
        <result column="content" property="content"></result>
        <result column="level" property="level"></result>


        <collection property="url" column="id" select="com.server.mapper.AttachMapper.selectAttachByBusiId">
        </collection>

    </resultMap>

    <select id="selectHomeWorkById" resultMap="baseResult">
        select * from home_work where id = #{id}
    </select>


</mapper>

