<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.mapper.LevelMapper">
    <resultMap id="baseResult" type="entity.Level">
        <id column="id" property="id"></id>
        <result column="grade_level" property="gradeLevel"></result>
        <result column="class_level" property="classLevel"></result>
        <result column="remark" property="remark"></result>

    </resultMap>

    <select id="getLevelByTeacherNo" resultMap="baseResult">
        select * from level where teacher_no = #{teacherno}
    </select>
    <select id="getLevelByStudentNo" resultMap="baseResult">
        select * from student_level sl left join level l
        on sl.level = l.id
        where sl.student = #{studentno}
    </select>

</mapper>

